.main_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px blue;
}

#error_field {
    visibility: hidden;
    background-color: #ea3267;
    border-radius: 10px;
    border: 2px solid red;
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 5px 0;
}

.x_label, .y_label, .r_label{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

#calculator {
    margin-left: 10px;
    width: 350px;
    height: 350px;
}

input {
    font-size: inherit;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 1px;
}

#r_1{
    margin-left: 0;
}

input[type="button"]{
    width: 40px;
    height: 30px;
    border-radius: 10px;
}

input[type="number"] {
    width: 150px;
    padding: 2px;
    border-radius: 8px;
}

input[type="submit"]{
    padding: 5px;
    border-radius: 10px;
}

.x_button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid blue;
    padding: 5px;
    word-break: break-all;
    text-align: center;
}

.history{
    margin: 10px;
    display: flex;
    justify-content: center;
}