.main_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    background: #020920;
    transform: translate(0);
    transform-style: preserve-3d;
}

.main_form:before, .main_form:after {
    content:"";
    position: absolute;
    inset: -2px;
    transform: translate3d(0,0,-1px);
    background: linear-gradient(
            45deg,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000,
            #fb0094,
            #0000ff,
            #00ff00,
            #ffff00,
            #ff0000
    );
    border-radius: inherit;
    background-size: 300% 300%;
    animation: gradientRotate 15s linear infinite;
}

.main_form:after{
    filter: blur(20px);
}

@keyframes gradientRotate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#messages {
    align-self: center;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_input {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px 10px;
    justify-items: center;
    align-items: center;
}

.form_input *{
    display: flex;
}

#calculator {
    margin-left: 10px;
    width: 350px;
    height: 350px;
}

input {
    font-size: inherit;
}

input[type="text"] {
    width: 150px;
    padding: 2px;
    border-radius: 8px;
}

.ui-slider {
    width: 150px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid blue;
    padding: 5px;
    word-break: break-all;
    text-align: center;
}

.history {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.animate {
    animation: popDiv 5s alternate ease-in-out;
    transform-style: preserve-3d; /* Сохраняем 3D-эффект */
}

@keyframes popDiv {
    0%   { transform: scale(1) rotateX(0deg) rotateY(0deg); }
    50%  { transform: scale(0) rotateX(180deg) rotateY(180deg); }
    100% { transform: scale(1) rotateX(0deg) rotateY(0deg); }
}